body{
    background-color: #282c34;
}

.form{
    margin-top: 5%;
    margin-right: 35%;
    margin-left: 35%;
    border-radius: 7%;
    background-color:rgb(253, 253, 253);
    text-align: center;
    border-color: #282c34;
    border-style: solid;
}

.text{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.rigth{
    float: right;
    margin-right: 7%;
}

